<!DOCTYPE html>
<html>
  <head>
      <title>Fuel Manager App</title>
      <meta charset="utf-8" />
      <style>{{>bootstrap}}</style>
  </head>
  <body>
      {{{body}}}
      <script>
          window.__INITIAL_STATE__ = {{{initialState}}};
      </script>
  </body>
</html>